# Configuration file

general {
    # Enable the chunk loader [default: true]
    B:enabledChunkLoader=true

    # Item used as fuel for the world anchor [default: item.anchors:itemTritiumCell]
    S:fuelItem=item.anchors:itemTritiumCell

    time {
        # Time of operation of the world anchor for 1 unit of fuel [in seconds] [range: 1 ~ 2147483647, default: 1800]
        I:fuelTime=1800

        # Fuel multiplier depending on the mode.
        # Example: For 1 unit. fuel you get 24 hours 3x3 anchors.
        # If the player sets the 5x5 mode, then the time will be divided by a multiplier [range: 0 ~ 2147483647, default: 2]
        I:multiplier=2
    }

}


