# Configuration file

"client specific" {
    B:"[W7EA2C7D8_dbb64b]U Waila Overlay"=true
    D:"[O06AB29F1_dbb64b]U Opal Color Frequency"=1.0
    I:"[OB726C583_dbb64b]U Opal Hue Offset (degrees)"=0
}


"control setup" {
    B:"Generate Rock in the Twilight Forest"=false
    B:"Generate Rock in Other Dimensions"=false
    B:"Alternate Brick Recipes"=false
    D:"Rock Density"=1.0
    D:"Vent Density"=1.0
    D:"Decoration Density"=1.0
    D:"Crystal Density"=1.0
    D:"Lava Rock Density"=1.0
    D:"Glowing Vine Density"=1.0
    D:"Flux Crystal Density"=1.0
    S:"Rock Generation Pattern"=Banded
    B:"Flux Crystal Requires Activation"=false
    B:"Rock Can Generate Into Other Rock"=false
    I:"Kelp Forest Biome ID (0 To Disable)"=190
    I:"Arctic Spires Biome ID (0 To Disable)"=191
}


"rock band heights" {
    I:GRANITE=-16
    I:BASALT=-16
    I:MARBLE=-16
    I:LIMESTONE=-16
    I:SHALE=-16
    I:SANDSTONE=-16
    I:PUMICE=-16
    I:SLATE=-16
    I:GNEISS=-16
    I:PERIDOTITE=-16
    I:QUARTZ=-16
    I:GRANULITE=-16
    I:HORNFEL=-16
    I:MIGMATITE=-16
    I:SCHIST=-16
    I:ONYX=-16
    I:OPAL=-16
}


